<mat-card>
  <mat-slider class="example-margin"
              [disabled]="disabled"
              [invert]="invert"
              [max]="max"
              [min]="min"
              [step]="step"
              [thumbLabel]="thumbLabel"
              [tickInterval]="getSliderTickInterval()"
              [(ngModel)]="value"
              [vertical]="vertical"
              aria-labelledby="example-name-label" #matSlider (valueChange)="sliderValueChange()"
              style="width: 100%"></mat-slider>
  <mat-card-title style="text-align: center">{{matSlider.value}}</mat-card-title>
</mat-card>

<mat-progress-bar mode="determinate" [value]="progressBarValue(matSlider.value)"></mat-progress-bar>

<div class="d-flex justify-content-center">
  <mat-slide-toggle [(ngModel)]="slideToggleChecked">slideToggleChecked: {{slideToggleChecked}}</mat-slide-toggle>

<!--   snackbar is like toaster notification service. Too much configuration. Check on documentation-->
<!--   sort header, stepper, table, tabs, tree is remaining. Check on documentation-->



</div>
<div class="d-flex justify-content-center">
  <button mat-raised-button
          matTooltip="Info about the action"
          aria-label="Button that displays a tooltip when focused or hovered over">
    Action
  </button>
</div>

