<mat-card>
  <mat-slider min="1" max="10000" step="1" #matSlider (valueChange)="sliderValueChange()"
              style="width: 100%"></mat-slider>
  <mat-card-title style="text-align: center">{{matSlider.value}}</mat-card-title>
</mat-card>

<mat-progress-bar mode="determinate" [value]="progressBarValue(matSlider.value)"></mat-progress-bar>

<div class="d-flex justify-content-center">
  <mat-slide-toggle [(ngModel)]="slideToggleChecked">slideToggleChecked: {{slideToggleChecked}}</mat-slide-toggle>

  
</div>

